{% load static djangocms_versioning_filer_tags %}

{% block extrahead %}
    <script src="{% static 'djangocms_versioning/js/actions.js' %}"></script>
{% endblock %}

{% get_versioning_filer_edit_disabled file request as disabled %}

{% spaceless %}
<a
    title="{% block title %}{% endblock %}"
    class="action-button top-level
    
{% if disabled %}
    inactive
{% endif %}
    {% if keepsideframe|default_if_none:True %} js-versioning-keep-sideframe {% else %}js-versioning-close-sideframe {% endif %}
    "
{% if not disabled %}
    href="{% get_versioning_filer_edit_url file %}"
{% endif %}
>
    <span class="cms-icon cms-icon-pencil"></span>
{% endspaceless %}
